body{
    font-family: 'Montserrat';
    color: #fff;
    text-align: center;
}

h1 ,h3{
    font-family: 'Montserrat-Black';   
}
p{
    color: #8f8f8f;
}

h3{
    font-weight: 700;
    font-size: 1.2rem;
}
h2{
    font-family: 'Montserrat-bold';
    color: #fff;
    font-size: 3rem;
    line-height: 1.5;
}
.big-heading
{
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 700;
}
#title
{
    background-color: #ff4c68;
   
}
#title h1{
    text-align: left;
}
.container-fluid
{
    padding: 3% 15%;
}

.image-title {
   
    transform: rotate(25deg); /* Equal to rotateZ(45deg) */
    width: 60%;
    position: relative;
    bottom: -12rem;
    z-index: 1;
}

/* Navigation */

.navbar-brand
{
    font-family: Ubuntu;
    font-size: 2.5rem;
}
.navbar
{
    padding: 0 0 4.5rem;
}
.nav-link
{
  font-family:'Montserrat-Light' ;
  font-size: 1.2rem;
}
.button-download
{
    margin: 0 3% 5%;
}
.icon
{
    
    color: #ff4c68; 
}
.icon:hover
{
    color: #ef8172;
}
#features{
    
   
    background-color: #fff;
    position: relative;
    z-index: 1;
}

.feature-box
{
    text-align: center;
    font-family: 'Montserrat-Black';
    padding: 3%;
    
}



/* testimonials */

#press,#testimonials
{
    background-color: #ef8172; 
    padding-bottom: 2%;

}
em{
    color: #fff;
}

.press-image
{
   
    width: 15%;
    margin: 2%;
    
}
.testImage
{
    border-radius: 100%;
    width: 10%;
    margin: 2%;
}

#pricing
{
    color:black;
    
}
#pricing h2{
    color:black; 
    font-size: 3rem;

}

#cta
{
    background-color: #ff4c68; 
    
    font-family: 'Montserrat-Black';
}
footer
{
  
    color: #fff;
    text-align: center;  
}
.icon-block
{
    padding: 3%;
}



@media(max-width:1020px)
{
    .image-title
    {
        position: static;
        transform: rotate(0);
    }

    #title
    {
        text-align: center;
    }
}